.treeView {
    background-color: rgba(0, 66, 253, 0.28);
    width: 100%;
    height: auto;
    max-height: 90%;
    min-height: 90%;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}
